/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/
body {
  position: relative;
}
.fl-page {
  width: auto;
  overflow: hidden;
}
.container.fl-content-full {
  margin: 0;
  padding: 0;
  width: auto;
  max-width: none;
}
.container.fl-content-full > .row > .fl-content {
  margin: 0;
}

.aboveHeader .storename .phone {
  text-align: center;
}
.aboveHeader .storename .phone a span {
  color: #fff !important;
  font-size: 18px;
  font-weight: 600;
  text-decoration: underline 2px solid #d33;
}
.aboveHeader .storename .phone a:hover span {
  color: #d33 !important;
}
.fl-page-bar {
  display: none !important;
}

.callNow a {
  border: 2px solid #d33;
}
.headerScheApp .fl-button {
  border: 2px solid #d33 !important;
  padding: 10px !important;
}

.fl-page-nav-right .fl-page-nav-wrap .navbar-nav > li {
  margin-right: 10px;
}
.fl-page-nav-right .fl-page-nav-wrap .navbar-nav > li > a {
  text-transform: uppercase;
  padding: 15px 20px;
  color: #292929;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
}
.navbar .nav .menu-item-has-children > a:after {
  margin-top: 0;
  content: "\f107";
  font-size: 130%;
}

.footermenu .menu-item a {
  color: #fbfbfb;
  font-family: Roboto;
  font-size: 12px;
  line-height: 23px;
}
.fl-content-slider
  .fl-content-slider-wrapper
  .fl-slide-text-left
  .fl-slide-foreground {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 8;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}
.home-tab .fl-tabs-labels {
  background-color: #a1907e;
}

.fl-page-bar .fl-page-bar-container .fl-page-bar-row .fl-page-bar-text {
  float: left;
  font-size: 14px;
  width: 100%;
}

.fl-page-bar .fl-page-bar-container .fl-page-bar-row .fl-page-bar-text span {
  float: left;
  font-weight: 600;
  letter-spacing: 0.47px;
  line-height: 16px;
}
.fl-page-bar .fl-page-bar-container .fl-page-bar-row .fl-page-bar-text a {
  color: #fff;
}
ul.storename {
  padding: 0;
  list-style: none;
}

.fl-module-content-slider .bx-wrapper {
  margin: 0 auto 0px;
}

.bx-pager.bx-default-pager {
  z-index: 1;
  position: absolute;
  bottom: 45px;
}

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #ffffff;
}

.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus,
.bx-wrapper .bx-pager.bx-default-pager a:hover {
  background: transparent;
  border: 1px solid #ffffff;
}

.fl-col-group .top-slider-bottom-image {
  margin-top: -60px;
}

.home-tab .fl-tabs-panels .fl-tabs-panel p:first-child {
  margin: 0px;
}

.home-tab .fl-tabs-panels .fl-tabs-panel .fl-tabs-panels-info h4.fl-cta-title {
  color: #ffffff;
  font-size: 44px;
  font-weight: 300;
  line-height: 28px;
}

.home-tab
  .fl-tabs-panels
  .fl-tabs-panel
  .fl-tabs-panels-info
  .fl-cta-text-content
  h1 {
  color: #ffffff;
  font-weight: 600;
  font-size: 61px;
  line-height: 60px;
}

.home-tab
  .fl-tabs-panels
  .fl-tabs-panel
  .fl-tabs-panels-info
  .fl-cta-text-content
  p {
  color: #ffffff;
  font-size: 15px;
  line-height: 24px;
  padding-top: 15px;
}

.home-page-second-slider .fl-slide-text-left .fl-slide-foreground {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-page-second-slider
  .fl-slide-text-left
  .fl-slide-foreground
  .fl-slide-photo-wrap {
  order: -1;
}

.home-page-second-slider
  .fl-content-slider-wrapper
  .fl-slide
  .fl-slide-foreground
  .fl-slide-content-wrap {
  float: right;
  margin: 100px auto;
}

.home-page-second-slider
  .fl-content-slider-wrapper
  .fl-slide
  .fl-slide-foreground
  .fl-slide-content-wrap
  .fl-slide-content {
  margin: 0;
  background: #ffffff;
  padding: 60px;
}

.home-page-second-slider
  .fl-content-slider-wrapper
  .fl-slide
  .fl-slide-foreground
  .fl-slide-content-wrap
  .fl-slide-content
  h2 {
  color: #323232;
  font-size: 29px;
  font-weight: 600;
  line-height: 28px;
}

.home-page-second-slider
  .fl-content-slider-wrapper
  .fl-slide
  .fl-slide-foreground
  .fl-slide-content-wrap
  .fl-slide-content
  .fl-slide-text
  p:first-child {
  color: #000000;
  font-size: 13px;
  font-weight: 300;
  line-height: 19px;
}

.home-page-second-slider
  .fl-content-slider-wrapper
  .fl-slide
  .fl-slide-foreground
  .fl-slide-content-wrap
  .fl-slide-content
  .fl-slide-text
  .btn {
  border-radius: 3px;
  background-color: #384e77;
  color: #ffffff;
  font-family: "PT Sans Narrow";
  font-size: 11px;
  font-weight: bold;
  line-height: 13px;
  padding: 17px 30px;
  text-align: center;
}

.main-top-slider-paint-stains
  .fl-content-slider
  .fl-slide-content-wrap
  .fl-slide-content
  h3 {
  color: #ffffff;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0.97px;
  line-height: 20px;
  margin-bottom: 0px !important;
}

.main-top-slider-paint-stains
  .fl-content-slider
  .fl-slide-content-wrap
  .fl-slide-content
  .fl-slide-text
  h1 {
  color: #ffffff;
  font-size: 51px;
  line-height: 60px;
  margin-bottom: 0px !important;
}

.main-top-slider-paint-stains
  .fl-content-slider
  .fl-slide-content-wrap
  .fl-slide-content
  .fl-slide-text
  p {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
}

.paint-stains-bottom-sec-info .fl-module-content {
  padding: 40px 52px 40px 60px;
  background: #ffffff;
}

.paint-stains-bottom-sec-info .fl-module-content .fl-rich-text p {
  color: #000000;
  font-size: 13px;
  font-weight: 300;
  line-height: 19px;
}

.main-top-slider-paint-stains
  .fl-content-slider
  .fl-slide-content-wrap
  .fl-slide-content
  .fl-slide-text
  .btn {
  border-radius: 3px;
  background-color: #384e77;
  color: #ffffff;
  font-family: "PT Sans Narrow";
  font-size: 11px;
  font-weight: bold;
  line-height: 13px;
  padding: 17px 30px;
  text-align: center;
}

.main-top-slider-paint-stains
  .fl-content-slider
  .fl-slide-content-wrap
  .fl-slide-content
  .fl-slide-text
  .btn:focus,
.main-top-slider-paint-stains
  .fl-content-slider
  .fl-slide-content-wrap
  .fl-slide-content
  .fl-slide-text
  .btn:hover {
  background: #efefef;
  color: #000000;
}

.slider-menu {
  display: none;
}
.home-tab .fl-tabs-horizontal .fl-tabs-labels {
  text-align: center;
}
.home-tab .fl-tabs-horizontal .fl-tabs-labels .fl-tabs-label {
  float: none;
  display: inline-block;
  vertical-align: top;
}
.store-container > div {
  margin-bottom: 20px;
}
.fl-page-bar-container a {
  text-decoration: none !important;
}
.fl-page-bar-container h1 {
  margin: 0 !important;
  font-size: 12px !important;
  text-decoration: none !important;
}

/* Zoom in on hover */
.hover-zoom-in .fl-photo-content {
  overflow: hidden;
}
.hover-zoom-in .fl-photo-content .fl-photo-img {
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
  will-change: transform;
}
.hover-zoom-in .fl-photo-content .fl-photo-img:hover {
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.uabb-tab-link {
  /* border-bottom: 3px solid transparent !important; */
}
.uabb-tab-current .uabb-tab-link {
  /* border-bottom: 3px solid #428bca !important; */
}

/* PDP page image issue css start here  */
.container .row .product-detail-layout-6 #product-images-holder > div {
  background-image: none !important;
}
.container
  .row
  .product-detail-layout-6
  #product-images-holder
  > div.toggle-image {
  background-image: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .row .product-detail-layout-6 #product-images-holder > div.show {
  background-image: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .row .product-detail-layout-6 #product-images-holder > div img {
  display: block;
  min-height: auto;
  width: auto !important;
  margin: 0 auto;
}

.product-detail-layout-6 .slide.selected-slide:after {
  display: none !important;
}
.product-detail-layout-6 .slide.selected-slide a:after {
  content: "" !important;
  background-image: url(https://www.hadingers.com/wp-content/plugins/grand-child/product-listing-templates/images/PDP_check_icon.png) !important;
  height: 38px !important;
  width: 38px !important;
  background-repeat: no-repeat !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  z-index: 9;
}
.product-detail-layout-6 .slide.selected-slide a {
  display: block;
  position: relative;
}
/* PDP page image issue css end here  */
.uabb-tab-acc-content {
  padding: 0px !important;
}
.fl-node-5cca978ed9550
  .uabb-tabs-style-iconfall
  .uabb-tabs-nav5cca978ed9550
  li::before,
.fl-node-5cc6f74829991
  .uabb-tabs-style-iconfall
  .uabb-tabs-nav5cc6f74829991
  li::before {
  height: 0px !important;
}

.active-gallery-modal .fl-row-content-wrap .product-box a.fl-button {
  display: block !important;
  text-align: center !important;
}

.fl-post-grid-gallery {
  width: 300px;
  height: 300px;
  background-position: center !important;
  cursor: pointer;
}

.locations-details p {
  margin: 0px !important;
}

.locations-details h2 {
  margin: 0px !important;
}

.locations-details h1 a:hover,
.locations-details a:hover p,
.locations-details a:hover span:hover {
  color: #897763 !important;
}

.locations-details h1 a,
.locations-details a p,
.locations-details a span {
  color: #000000 !important;
}

.locations-details .direction a {
  background: #897763 !important;
  border: 1px solid #897763 !important;
}

.locations-details .direction a:hover {
  background: #ffffff !important;
}

.locations-details .direction a span {
  color: #ffffff !important;
}
.locations-details .direction a:hover span {
  color: #897763 !important;
}

.bg-50-percent-width > .fl-row-content-wrap {
  background-size: 50% auto;
}

/* Featured Products */
.featured-products .featured-product-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.featured-products .featured-product-list .featured-product-item {
  width: 25%;
}
.featured-inner {
  padding: 0 15px;
  margin: 0 0 20px;
}
.featured-products
  .featured-product-list
  .featured-product-item
  .prod-img-wrap {
  position: relative;
  overflow: hidden;
  background: #fff;
  display: flex;
  min-height: 310px;
  align-items: center;
  border: 1px solid #ccc;
}
.featured-products
  .featured-product-list
  .featured-product-item
  .prod-img-wrap
  img {
  max-width: none;
  max-height: 310px;
  width: auto;
  margin: 0 auto;
}
.featured-products
  .featured-product-list
  .featured-product-item
  .prod-img-wrap
  .button-wrapper {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
}
.featured-products
  .featured-product-list
  .featured-product-item
  .prod-img-wrap
  .button-wrapper
  .button {
  position: relative;
  top: 50px;
  background: #fff;
  border: 1px solid #fff;
  font-size: 12px;

  transition: top 0.3s;
  -webkit-transition: top 0.3s;
  -moz-transition: top 0.3s;
  -o-transition: top 0.3s;
  -ms-transition: top 0.3s;
}
.featured-products
  .featured-product-list
  .featured-product-item
  .prod-img-wrap
  .button-wrapper
  .button:hover {
  background: #212121;
  color: #fff;
}
.featured-products
  .featured-product-list
  .featured-product-item
  .prod-img-wrap
  .button-wrapper
  .button.alt {
  background: #a1907e;
  border-color: #a1907e;
}
.featured-products
  .featured-product-list
  .featured-product-item
  .prod-img-wrap
  .button-wrapper
  .button.alt:hover {
  background: #fff;
  color: #a1907e;
}
.featured-products
  .featured-product-list
  .featured-product-item
  .prod-img-wrap:hover
  .button-wrapper {
  opacity: 1;
  visibility: visible;
}
.featured-products
  .featured-product-list
  .featured-product-item
  .prod-img-wrap:hover
  .button-wrapper
  .button {
  top: 0;
}
.featured-products
  .featured-product-list
  .featured-product-item
  .product-info
  h5 {
  margin: 15px 0 0px;
  clear: both;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #212121;
}
.featured-products
  .featured-product-list
  .featured-product-item
  .product-info
  h5
  a {
  color: #212121;
}
.featured-products
  .featured-product-list
  .featured-product-item
  .product-info
  h6 {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
}
.featured-products .slick-arrow {
  position: absolute;
  top: -70px;
  right: 15px;
  background: none;
  border: 0;
  font-size: 0;
  display: block;
  padding: 0;
  opacity: 0.6;
}
.featured-products .slick-arrow:hover {
  opacity: 1;
}
.featured-products .slick-arrow.slick-disabled {
  opacity: 0.2;
  cursor: default;
}
.featured-products .slick-arrow:before {
  content: "\f105";
  font: normal normal normal 30px/1 FontAwesome;
  color: #000;
}
.featured-products .slick-arrow.slick-prev {
  right: 40px;
}
.featured-products .slick-arrow.slick-prev:before {
  content: "\f104";
}
.storename,
.storename .store-container .address p {
  margin: 0px;
}

.storename .phone span,
.storename .store-container .address p {
  color: #000000;
}

.gform_wrapper .gform_body input.datepicker_with_icon.large,
.gform_wrapper .gform_body input.datepicker_with_icon.medium,
.gform_wrapper .gform_body input.datepicker_with_icon.small {
  width: calc(100% - 24px) !important;
}
.ui-datepicker {
  margin-top: -30px !important;
}
.ui-datepicker-title {
  color: #000;
}
.gform_wrapper .gform_body .gfield_checkbox li input,
.gform_wrapper .gform_body .gfield_checkbox li input[type="checkbox"],
.gform_wrapper .gform_body .gfield_radio li input[type="radio"] {
  margin-top: 0 !important;
}
.gform_wrapper .gform_body .gfield .gfield_time_ampm select {
  max-width: 55px !important;
  width: 55px !important;
  color: #000;
}
.gform_wrapper .gfield_time_hour i {
  margin-top: -27px !important;
  margin-right: -3px;
}
#responsive-menu-additional-content,
#responsive-menu-additional-content a,
#responsive-menu-additional-content a span {
  color: #fff;
}
#responsive-menu-additional-content .phone a:before {
  content: "\f095";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 135%;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
  margin-right: 10px;
}
.gform_wrapper .gfield_time_hour i {
  margin-top: 5px !important;
  margin-right: -3px;
}
.fl-tabs-panel .fl-tabs-label.fl-tab-active .fas:before {
  content: "\f068";
}
.uabb-tabs
  .uabb-content-wrap
  .section.uabb-content-current
  > .uabb-content
  > p {
  margin: 0;
}
.rmp-menu-additional-content .storename .phone a span {
  color: #fff !important;
  font-size: 18px;
  font-weight: 600;
  text-decoration: underline 2px solid #d33;
}
.rmp-menu-additional-content .storename .phone {
  text-align: left;
  margin-top: 10px;
}
.aboveHeader .storename .phone a span:before,
.rmp-menu-additional-content .storename .phone:before {
  content: "\f095";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 5px;
}
.headerScheApp .fl-button {
  border: 2px solid #d33 !important;
  padding: 10px !important;
  background-color: #d33 !important;
  border-radius: 0px !important;
  text-transform: uppercase !important;
}
.headerScheApp .fl-button:hover {
  border: 2px solid #000 !important;
  padding: 10px !important;
  background-color: #000 !important;
  border-radius: 0px !important;
  color: #fff !important;
}
.headerScheApp .fl-button:hover span,
.callNow a:hover span {
  color: #fff !important;
}
.callNow a {
  border: 2px solid #d33;
  padding: 10px !important;
  background-color: #d33 !important;
  border-radius: 0px !important;
  text-transform: uppercase;
}
.callNow a:hover {
  border: 2px solid #000 !important;
  padding: 10px !important;
  background-color: #000 !important;
  border-radius: 0px !important;
  color: #fff !important;
}

.fl-page-content a.uabb-button,
.fl-page-content a.fl-button {
  background: #a1907e !important;
  color: #fff !important;
  border: 1px solid !important;
  border-color: #a1907e !important;
  text-decoration: none !important;
  border-radius: 0 !important;
  font-size: 14px !important;
  line-height: 1 !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  font-family: "PT Sans Narrow", sans-serif !important;
  padding: 12px 24px !important;
  border-radius: 0 !important;
}

.fl-page-content a.uabb-button:hover,
.fl-page-content a.fl-button:hover {
  background: #fff !important;
  color: #a1907e !important;
  border: 1px solid !important;
  border-color: #a1907e !important;
  text-decoration: none !important;
  border-radius: 0 !important;
}

.fl-page-content
  .fl-button-group
  .fl-button-group-buttons
  .fl-button-group-button:last-child
  .uabb-button,
.fl-page-content
  .fl-button-group
  .fl-button-group-buttons
  .fl-button-group-button:last-child
  a.fl-button {
  background: #a1907e !important;
  color: #fff !important;
  border: 1px solid !important;
  border-color: #a1907e !important;
  text-decoration: none !important;
  border-radius: 0 !important;
  font-size: 14px !important;
  line-height: 1 !important;
  font-weight: 700 !important;
  font-family: "PT Sans Narrow", sans-serif !important;
  padding: 12px 24px !important;
  border-radius: 0 !important;
}

.fl-page-content
  .fl-button-group
  .fl-button-group-buttons
  .fl-button-group-button:last-child
  .uabb-button:hover,
.fl-page-content
  .fl-button-group
  .fl-button-group-buttons
  .fl-button-group-button:last-child
  a.fl-button:hover {
  background: #fff !important;
  color: #a1907e !important;
  border: 1px solid !important;
  border-color: #a1907e !important;
  text-decoration: none !important;
  border-radius: 0 !important;
}

.fl-page-content a.uabb-button:hover span,
.fl-page-content a.fl-button:hover span {
  color: #a1907e !important;
}

/*
.gform_footer.top_label input {
  background: #000 !important;
  color: #fff !important;
  border: 2px solid #fff !important;
} */

.fl-page-content .gform_footer.top_label input {
  background: #a1907e !important;
  color: #fff !important;
  border: 1px solid !important;
  border: 1px solid #a1907e !important;
  border-radius: 0 !important;
  font-size: 14px !important;
  line-height: 1 !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  font-family: "PT Sans Narrow", sans-serif !important;
  padding: 12px 24px !important;
  border-radius: 0 !important;
}

.fl-page-content .gform_footer.top_label input:hover {
  background: #fff !important;
  color: #a1907e !important;
  border: 1px solid #a1907e !important;
  border: 1px solid !important;
  border-radius: 0 !important;
}

.facet_filters .facet-wrap > strong {
  color: #a1907e;
  border-bottom: 2px solid #a1907e;
}

.facetwp-selections ul:before {
  content: "YOUR SELECTION";
  font-weight: 700;
  font-size: 16px;
  border-bottom: 2px solid #a1907e;
  padding: 0px;
  width: 100% !important;
  position: relative;
  display: block;
  margin-bottom: 5px;
  color: #a1907e;
  padding: 5px 5px 5px 0px;
}

.facetwp-selections ul {
  padding-bottom: 20px;
  padding-left: 0;
}

@media (min-width: 1099px) {
  .home-slider .fl-slide-cta-button .fl-button {
    font-size: 17px !important;
  }
}
@media (max-width: 1180px) {
  .fl-page-header .fl-page-header-wrap .fl-page-header-row {
    display: block;
  }
  .fl-page-header .fl-page-header-wrap .fl-page-header-row > * {
    width: 100%;
    text-align: center;
    display: block;
  }
  .fl-page-header .fl-page-header-wrap .fl-page-header-logo-col {
    padding: 0 55px;
  }
  .fl-page-header .fl-logo-img {
    display: block;
    margin: 0 auto;
  }
  .fl-page-header .fl-page-header-wrap .fl-page-nav-search {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    bottom: auto;
    right: -30px;
    z-index: 5;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
  }
  .fl-page-header .fl-page-header-wrap .fl-page-nav-search a.fas {
    color: #000;
    font-family: "FontAwesome";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    padding: 0;
    font-size: 22px;
    margin-top: -10px;
  }
  .fl-page-header .fl-page-header-wrap .fl-page-nav-search a.fas:before {
    content: "\f002";
  }
  .fl-page-header .fl-page-header-wrap .fl-page-nav {
    line-height: 0;
    height: 0;
  }

  .fl-page-header-primary .fl-logo-img {
    max-width: 32%;
  }
  #rmp_menu_trigger-1219771 {
    top: 106px;
  }
}
@media (max-width: 1099px) {
  .fl-page-header .fl-page-header-wrap .fl-page-nav-search {
    right: 15px;
  }
}

@media only screen and (width: 1024px) {
  .fl-page-header-primary .fl-logo-img {
    max-width: 35% !important;
  }
}

@media (max-width: 992px) {
  .fl-col-group.fl-col-group-responsive-reversed {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    -ms-box-orient: horizontal;
    -webkit-flex-flow: row wrap;
  }
  .fl-col-group.fl-col-group-responsive-reversed .fl-col {
    -webkit-box-flex: 0 0 100%;
    -moz-box-flex: 0 0 100%;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .fl-col-group-responsive-reversed .fl-col:nth-of-type(1) {
    -webkit-box-ordinal-group: 12;
    -moz-box-ordinal-group: 12;
    -ms-flex-order: 12;
    -webkit-order: 12;
    order: 12;
  }
  .fl-col-group-responsive-reversed .fl-col:nth-of-type(2) {
    -webkit-box-ordinal-group: 11;
    -moz-box-ordinal-group: 11;
    -ms-flex-order: 11;
    -webkit-order: 11;
    order: 11;
  }
  .fl-col-group-responsive-reversed .fl-col:nth-of-type(3) {
    -webkit-box-ordinal-group: 10;
    -moz-box-ordinal-group: 10;
    -ms-flex-order: 10;
    -webkit-order: 10;
    order: 10;
  }
  .fl-col-group-responsive-reversed .fl-col:nth-of-type(4) {
    -webkit-box-ordinal-group: 9;
    -moz-box-ordinal-group: 9;
    -ms-flex-order: 9;
    -webkit-order: 9;
    order: 9;
  }
  .fl-col-group-responsive-reversed .fl-col:nth-of-type(5) {
    -webkit-box-ordinal-group: 8;
    -moz-box-ordinal-group: 8;
    -ms-flex-order: 8;
    -webkit-order: 8;
    order: 8;
  }
  .fl-col-group-responsive-reversed .fl-col:nth-of-type(6) {
    -webkit-box-ordinal-group: 7;
    -moz-box-ordinal-group: 7;
    -ms-flex-order: 7;
    -webkit-order: 7;
    order: 7;
  }
  .fl-col-group-responsive-reversed .fl-col:nth-of-type(7) {
    -webkit-box-ordinal-group: 6;
    -moz-box-ordinal-group: 6;
    -ms-flex-order: 6;
    -webkit-order: 6;
    order: 6;
  }
  .fl-col-group-responsive-reversed .fl-col:nth-of-type(8) {
    -webkit-box-ordinal-group: 5;
    -moz-box-ordinal-group: 5;
    -ms-flex-order: 5;
    -webkit-order: 5;
    order: 5;
  }
  .fl-col-group-responsive-reversed .fl-col:nth-of-type(9) {
    -webkit-box-ordinal-group: 4;
    -moz-box-ordinal-group: 4;
    -ms-flex-order: 4;
    -webkit-order: 4;
    order: 4;
  }
  .fl-col-group-responsive-reversed .fl-col:nth-of-type(10) {
    -webkit-box-ordinal-group: 3;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
  }
  .fl-col-group-responsive-reversed .fl-col:nth-of-type(11) {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
  .fl-col-group-responsive-reversed .fl-col:nth-of-type(12) {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }

  .bg-none-res > .fl-row-content-wrap {
    background: none !important;
  }
  .bg-none-res .fl-module-uabb-photo .uabb-photo-content,
  .bg-none-res .fl-module-uabb-photo .uabb-photo-content > img {
    width: 100%;
  }

  .active-gallery-modal .fl-row-content-wrap .product-box a.fl-button {
    margin: 0 auto;
  }

  .facet_filters {
    position: static;
    width: auto;
    box-shadow: none;
  }
  .facet_filters .close_bar,
  .open_sidebar,
  .close_sidebar_button {
    display: none;
  }
  .facetwp-per-page,
  .facetwp-pager {
    text-align: right !important;
  }
  #product-list-top-filters .fl-heading,
  .facetwp-counts {
    text-align: left !important;
  }
  #product-list-top-filters .fl-col-group .fl-col {
    width: inherit !important;
  }
  #rmp_menu_trigger-1219771 {
    top: 115px !important;
  }
  .fl-page-content
    .fl-builder-content.fl-builder-content-primary
    > .fl-row.fl-row-full-width.fl-row-bg-photo:first-child
    > .fl-row-content-wrap {
    min-height: 400px;
    padding: 20px 0 !important;
  }

  .fl-page-content
    .fl-builder-content.fl-builder-content-primary
    > .fl-row.fl-row-full-width.fl-row-bg-photo:first-child
    .fl-row-content {
    z-index: 2;
  }

  .fl-page-content
    .fl-builder-content.fl-builder-content-primary
    > .fl-row.fl-row-full-width.fl-row-bg-photo:first-child
    .fl-row-content-wrap:after {
    border-radius: inherit;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.35);
  }

  .fl-page-content .fl-module-content.fl-node-content *,
  footer .fl-module-content.fl-node-content * {
    text-align: center;
  }
  .fl-page-content .fl-module-content.fl-node-content ul *,
  .fl-page-content .fl-module-content.fl-node-content ol *,
  .fl-page-content .facet_filters *,
  .fl-page-content .text_left_content .fl-module-content.fl-node-content ul *,
  .fl-page-content .text_left_content .fl-module-content.fl-node-content * {
    text-align: left;
  }

  .fl-page-content .uabb-dual-button {
    justify-content: center;
  }
  .locations-details .fl-icon-wrap {
    margin: 0 auto;
    max-width: 200px;
    display: block;
  }
  .fl-page-content .fl-module-content.fl-node-content ul.storename * {
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 820px) {
  .facetwp-template .product-grid .product-row > .col-md-4:nth-child(3n + 1) {
    clear: left !important;
  }
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 33.33%;
    float: left;
    clear: none !important;
  }
}

@media (max-width: 767px) {
  .fl-page-bar .fl-page-bar-row .col-md-6 {
    text-align: center;
  }
  .fl-page-bar .fl-page-bar-text {
    padding: 0;
    text-align: center;
  }
  .fl-page-header .fl-page-header-wrap {
    position: relative;
  }
  .fl-page-header .fl-page-header-wrap .navbar,
  .fl-page-header .fl-page-header-wrap .fl-page-nav-col {
    position: static;
  }
  .fl-page-header .fl-page-header-wrap .fl-page-nav-wrap {
    padding: 0;
  }
  .fl-page-header .fl-page-header-wrap .fl-page-nav .fl-page-nav-collapse {
    display: block !important;
    visibility: visible !important;
    border: 0;
    padding: 0;
  }
  .fl-page-header .fl-page-header-wrap .fl-page-nav .fl-page-nav-search {
    display: block;
  }

  #djcustom-footer #menu-copyright-bar-menu.menu > li {
    display: inline-block;
    vertical-align: top;
  }
  .social-icons {
    margin-top: 10px;
  }

  .facet_filters {
    position: fixed;
    top: 0px;
    left: -5px;
    width: 80%;
    height: 100%;
    overflow: auto;
    background-color: white;
    z-index: 10;
    left: -1000px;
    -moz-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
  }
  .facet_filters .close_bar,
  .open_sidebar,
  .close_sidebar_button {
    display: block;
  }
  .facetwp-per-page,
  .facetwp-pager {
    float: none;
  }
  .facetwp-per-page,
  .facetwp-pager,
  #product-list-top-filters .fl-heading,
  .facetwp-counts {
    text-align: center !important;
  }
  .fl-col-small {
    max-width: 100%;
  }

  .fl-module-content-slider .fl-slide .fl-slide-content {
    background: none !important;
    text-align: left;
  }
  .uabb-tabs .uabb-tab-acc-title .uabb-acc-icon {
    line-height: 10px;
  }

  footer#djcustom-footer .fl-menu li {
    text-align: center;
  }
  footer#djcustom-footer .fl-module-content.fl-node-content {
    text-align: center;
  }
}

@media (max-width: 600px) {
  #wpadminbar {
    position: fixed;
  }

  .facetwp-template .product-grid .product-row > .col-md-4:nth-child(3n + 1) {
    clear: left !important;
  }
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 100%;
    float: left;
    clear: none !important;
  }
}
@media (max-width: 424px) {
  .fl-page-nav-search form {
    width: 280px;
  }
}
@media (max-width: 399px) {
  .fl-page-bar {
    display: none;
  }
  button#responsive-menu-button {
    top: 10px !important;
  }
  #responsive-menu-container {
    width: 85%;
  }
  #responsive-menu-container
    #responsive-menu
    .responsive-menu-submenu-depth-1
    ul.responsive-menu-submenu
    li.responsive-menu-item
    .responsive-menu-item-link {
    font-size: 12px;
  }
  #responsive-menu-container
    #responsive-menu
    ul.responsive-menu-submenu-depth-2
    a.responsive-menu-item-link {
    padding-left: 7%;
  }
}

.mob-address {
}

div#rmp-menu-additional-content-1219771 {
  text-align: left;
  margin-top: 5px;
}

div#rmp-menu-additional-content-1219771 .storename .store-container .address p {
  color: #fff;
  text-align: left;
  margin-top: 5px;
}
